.alert {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
    background: #212124;
    border-radius: 32px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.textImageWrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
}

.bottomButton {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 16px;
    bottom: 0;
    left: 0;
}
